.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff10;  
    height: 250px; 
    margin-bottom: 40px;
    
    width: 100%;
}

.link-container> h2{
    text-align: center;
    margin-bottom: 15px;
}
.links{
    display: flex;
    gap: 20px;
    font-size: larger;
}

.social-media-icons{
    display: flex;
    gap: 30px;
}